.btn {
padding: 20px;
}

#custom-hover:hover {
background: purple;
}

.col-sm {
border: 1px solid black;
}

.row > div {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
    text-align: center;
}

